{% extends "base.html" %}
{% block content %}
<div class="card p-4">
  <h3>Append Suffix to All Files</h3>
  <form method="post">
    <div class="row g-3">
      <div class="col-md-6">
        <label class="form-label">Folder</label>
        <input type="text" class="form-control" name="folder" placeholder="D:\\path\\to\\folder" required>
      </div>
      <div class="col-md-4">
        <label class="form-label">Suffix (appended before extension)</label>
        <input type="text" class="form-control" name="suffix" value="_2" required>
      </div>
      <div class="col-md-2 d-flex align-items-end">
        <button class="btn btn-primary">Rename</button>
      </div>
    </div>
  </form>
  {% if log %}
  <hr/>
  <h5>Log</h5>
  <pre class="monospace">{{ log }}</pre>
  {% endif %}
</div>
{% endblock %}
